.nav1 {
    background-color: #B20931;
}

.nav2 {
    color:white;
}

.logo {
    height: auto;
    width: 50%;
}

.card1 {
    background-color: white;
    color: #B20931;
    width: auto;
}

body {
    background-color: grey;
}

.logo2 {
    width: 50%;
}