.nav1 {
    background-color: #B20931;
}

.nav2 {
    color:white;
}

.logo {
    height: auto;
    width: 50%;
}

.card1 {
    background-color: white;
    color: #B20931;
}

body {
    background-color: grey;
}

.carousel1 {
    align-items: center;
}

.card12 {
    background-color: white;
    color: #B20931;
}

.card13 {
    background-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B20931;
    color: white;
}