.nav1 {
    background-color: #B20931;
}

.nav2 {
    color:white;
}

.logo {
    height: auto;
    width: 50%;
}

.card1 {
    background-color: white;
    color: #B20931;
    height: 75%;
}

body {
    background-color: grey;
}

.logo2 {
    background-color: white;
}

.aboutinfo {
    font-size: 150%;
}

.carousel1 {
    align-items: center;
}